<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}" />
        <title>Produkty</title>
    </head>

    <body>
        <h1>Produkty</h1>

        <div id="flashes">
            {% for label, messages in app.flashes() %}
                {% for message in messages %}
                    <p><strong>{{label}}</strong> {{ message }}</p>
                {% endfor %}
            {% endfor %}
        </div>
        {% block netjan_content %}{% endblock %}
    </body>
</html>
